FORUM_FIREBASE_API_KEY=REPLACE_ME
FORUM_FIREBASE_AUTH_DOMAIN=REPLACE_ME.firebaseapp.com
FORUM_FIREBASE_PROJECT_ID=REPLACE_ME
FORUM_FIREBASE_STORAGE_BUCKET=REPLACE_ME.firebasestorage.app
FORUM_FIREBASE_MESSAGING_SENDER_ID=REPLACE_ME
FORUM_FIREBASE_APP_ID=REPLACE_ME
FORUM_FIREBASE_MEASUREMENT_ID=REPLACE_ME
FORUM_FIREBASE_APP_CHECK_SITE_KEY=REPLACE_ME
FORUM_FIREBASE_APP_CHECK_DEBUG_TOKEN=
FORUM_DEFAULT_PROJECT=Core Platform
FORUM_PROJECTS=Core Platform,Payments API,Public Website,Mobile App
FORUM_ADMIN_EMAIL=admin@example.com # this needs to be replaced manually in firestore.rules file
FORUM_MAIL_COLLECTION=mail
